.singleLineImageContainer {
    display: flex;
    width: 100%;
    background: #08070a;
    overflow: auto;
  }

.containerElement {
    margin: 10px;
}

.text {
    text-align: center;
    font-size: 12pt;
}