.singleLineImageContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #08070a;
    overflow: auto;
    padding: 8px;
  }

.text {
    color: white;
    text-align: center;
    font-size: 12pt;
}

.summary {
    color: white;
    text-align: center;
    font-size: 10pt;
    padding: 4px;
}

.thumbnail {
    cursor: pointer;
    max-width: 70%;
    max-height: auto;
    margin: auto;
    display: block;
    padding: 16px;
    border-radius: 32px;
}